<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What we have done</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Beginnings</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our founder got their start in acedemic supercomputing, development startups, and early ISPs of the early 90s. Abandoning most other aspects of his life while putting together and running things that mattered to the lives of others implementing new technology and making it inter-operate with other friendly systems. <br><br>  When users and systems haven't been so friendly, they ran security incidents, e-janitoring and re-architecting tech stacks, gathering evidence, and improving conditions so that history is less likely to repeat itself.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Hands-on</h4>
                                    <h4 class="subheading">in the trenches</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Having seen many excellent examples of both sterling technology practices and pronounced avoidable anti-patterns of how not to do things, our staff was recruited by consulting outfits to work on projects involving system administration, network management, software deployment and development, integration activities, and special projects for technology management and security operations. <br><br> It is our passion has been to make stable, trusted, and well-run technology products, processes, and services for our clients using the resources and manpower available.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Cyber-defense</h4>
                                    <h4 class="subheading">Quality assurance for complicated systems</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Technology security is not a process in itself, but a product of a well run technology practice.  The recurring problems of security in technology has mostly been that design considerations being detached from technology planning and management. <br><br> Making decisions without a good model or in implicit acceptance of risk without analysis are rooted in misalignment of business risks and objective.  These are common problems in most organizations, and we've helped our clients adjust.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Integrity</h4>
                                    <h4 class="subheading">Our commitment</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">To this end, Locked's work has been in establishing data and security programs that meet the goals of their clients and partners since before the internet was generally available and continues to this day.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>We want to help</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <div class="timeline-body">
                            <p class="text-muted">
                                <h4>Join our story</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
