<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Security and Compliance</h4>
                    <p class="text-muted">We understand the challenge of technology defense having worked with hundreds of customers, vendors, and partners across a variety of industries.<br><br> Because every client environment is different, our team of consultants and engineers are vendor-agnostic and build solutions anticipating our client's outcomes and not specific products. <br><br> A mature technology program empowered by effective security architecture is one with lower risks, efficient operations, threat and vulnerability awareness, decreased fragility, and increased ability to adapt and react. Locked understands the attacker and translates this to creating effective defensive controls for your business, data, and customers.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Technology</h4>
                    <p class="text-muted">We believe in providing technology solutions that are built around your specific business needs and budget.<br><br>Our approach is to deliver IT products and systems that are designed to help you get the most for your technology investment using vendor and open-source solutions best suited to the unique needs of your organization. <br><br>Our depth and breadth of real-world experience in large-scale environments enables us to assess, scope, and complete projects efficiently. Our architects work closely with your team to determine the solution that best fits your company’s needs and constraints.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-signal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Leadership</h4>
                    <p class="text-muted">A Virtual CISO can provide you with expert guidance, strategic leadership, and minimize related costs.<br><br> Most businesses and organizations don’t need a full-time information security officer, but nearly all of them can benefit from occasional expert advice in making critical decisions.<br><br> Our Virtual CIO advisory service gives you access to a range of expertise to assist you in understanding the issues you encounter and managing your technology.<br><br>These services are provided on retainer with a guaranteed access to expertise when you need it so that you can focus on your business.</p>
                </div>
            </div>
        </div>
    </section>
